<div class="">
    <app-heading title="Change Password"></app-heading>
    <br>
    <app-container title="Change Passport">
        <form action="">
            <div class="formRow">
                <div class="inputSec">
                    <label for="">Student ID</label>
                    <input type="text">
                </div>
                <div class="inputSec">
                    <label for="">Student ID</label>
                    <input type="text">
                </div>
                <div class="inputSec">
                    <label for="">Student ID</label>
                    <input type="text">
                </div>
            </div>
            <div class="flex justify-center" style="">
                <a class="student-btn">Update Information</a>
            </div>
        </form>
    </app-container>
</div>