<!-- <div class="menu_container">
    <div class="left_side_section">


        <div class="navbar">

            <ng-container *ngFor="let item of firstFiveMenus">
                <ng-container *ngIf="!item.isDropDown">
                    <a routerLink="{{item.url}}" [queryParams]="item.queryParams ? item.queryParamsValue : null"
                        routerLinkActive="active">{{item.label}}</a>
                </ng-container>
                <div class="dropdown--menu" *ngIf="item.isDropDown">
                    <a class="dropbtn"> {{item.label}}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <ng-container *ngFor="let subItem of item.dropDownLinks">
                            <a routerLink="{{subItem.url}}"
                                [queryParams]="item.queryParams ? item.queryParamsValue : null">{{subItem.label}}</a>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="hamburger_menu" *ngIf="restMenus.length > 0">
        <i class="{{isHambargerOpen ? 'bi bi-x-lg' : 'bi bi-list'}}" (click)="toggleHambarger()"></i>


        <div class="sidebarMenu  {{isHambargerOpen ? 'active' : ''}}">
            <ul class="sidebarMenu__list">
                <ng-container *ngFor="let item of restMenus">
                    <li class="sidebarMenu__list__item">
                        <a class="sidebarMenu__list__item__link" routerLinkActive="active" routerLink="{{item.url}}"
                            *ngIf="!item.isDropDown" (click)="toggleHambarger()">
                            <p>{{item.label}}</p>
                        </a>
                    </li>

                    <li class="sidebarMenu__list__item" *ngIf="item.isDropDown">
                        <a class="sidebarMenu__list__item__link dropdown-btn">
                            <p>{{item.label}}</p>
                            <i class="bi bi-caret-down-fill arrow-icon"></i>
                        </a>
                        <ul class="submenu--list">
                            <ng-container *ngFor="let subItem of item.dropDownLinks">

                                <li class="submenu--list__item">
                                    <a class="submenu--list__item__link" routerLinkActive="active"
                                        routerLink="{{subItem.url}}" (click)="toggleHambarger()">
                                        <p>{{subItem.label}}</p>
                                    </a>
                                </li>
                            </ng-container>

                        </ul>
                    </li>

                </ng-container>
            </ul>
        </div>
    </div>

</div> -->