<!-- <button (click)="generatePdf()">Generate PDF</button> -->




<table border="1" style="margin: 5em;" *ngIf="">
    <tr>
        <td rowspan="8">Sl</td>
        <td rowspan="8">Student ID</td>
        <td rowspan="8">Student Name</td>
        <td rowspan="8">Year of </td>
        <td rowspan="5">Appeared Courses</td>
        <td rowspan="4"></td>

        <!-- Subject Details starts -->
        <td colspan="6">Polymers</td>

    </tr>
    <tr>
        <td colspan="6">TEX 183-0723</td>

    </tr>
    <tr>
        <td colspan="6">Theory</td>

    </tr>
    <tr>
        <td colspan="6">3 Credits</td>

    </tr>
    <tr>
        <td rowspan="4">Grade</td>
        <td rowspan="3">Continuous</td>
        <td colspan="2" rowspan="2">Term final(60%)</td>
        <td rowspan="2">Total</td>
        <td rowspan="4">Letter Grade</td>
        <td rowspan="4">Grade Point</td>
    </tr>
    <tr>
        <td rowspan="3">Marks</td>
    </tr>
    <tr>
        <td colspan="2">90</td>
        <td rowspan="2">150</td>
    </tr>
    <tr>
        <td>60</td>
        <td>part-a</td>
        <td>part-b</td>
    </tr>

    <!-- Subject Details ends -->


    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>



</table>




<table border="1" style="margin: 5em;" *ngIf="">
    <!-- First Row: Static Information -->
    <tr>
        <td rowspan="8">Sl</td>
        <td rowspan="8">Student ID</td>
        <td rowspan="8">Student Name</td>
        <td rowspan="8">Year of</td>
        <td rowspan="5">Appeared Courses</td>
        <td rowspan="4"></td>
        <td colspan="6">Polymers</td>
    </tr>

    <!-- Second Row: Course Code -->
    <tr>
        <td colspan="6">TEX 183-0723</td>
    </tr>

    <!-- Third Row: Course Type -->
    <tr>
        <td colspan="6">Theory</td>
    </tr>

    <!-- Fourth Row: Credits -->
    <tr>
        <td colspan="6">3 Credits</td>
    </tr>

    <!-- Fifth Row: Grade Information -->
    <tr>
        <td rowspan="4">Grade</td>
        <td rowspan="3">Continuous</td>
        <td colspan="2" rowspan="2">Term final (60%)</td>
        <td rowspan="2">Total</td>
        <td rowspan="4">Letter Grade</td>
        <td rowspan="4">Grade Point</td>
    </tr>

    <!-- Sixth Row: Marks Label -->
    <tr>
        <td rowspan="3">Marks</td>
    </tr>

    <!-- Seventh Row: Marks Values -->
    <tr>
        <td colspan="2">90</td>
        <td rowspan="2">150</td>
    </tr>

    <!-- Eighth Row: Detailed Marks -->
    <tr>
        <td>60</td>
        <td>part-a</td>
        <td>part-b</td>
    </tr>
</table>



<table border="1">
    <thead>
        <!-- First Header Row -->
        <tr>
            <th colspan="12">Main Header 2</th>
        </tr>
        <!-- Second Header Row -->
        <tr>
            <th colspan="6">PHY 1</th>
            <th colspan="6">PHY 2</th>
        </tr>
        <tr>
            <th colspan="6">Theory</th>
            <th colspan="6">Lab</th>
        </tr>
        <tr>
            <th colspan="6">3 Credits</th>
            <th colspan="6">2 Credits</th>
        </tr>
        <tr>
            <td>Continuous Assessment (40%)</td>
            <td colspan="2">Final Examination (60%)</td>
            <td rowpan="2">Total (100%)</td>
            <td rowpan="2">Letter Grade</td>
            <td>Grade Point</td>
            <!-- <td>Continuous Assessment (40%)</td>
            <td colspan="2">Final Examination (60%)</td>
            <td>Total (100%)</td>
            <td>Letter Grade</td>
            <td>Grade Point</td> -->
        </tr>
        <tr>
            <td></td>
            <td colspan="2">60</td>
            <td>90</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!-- Add more header rows as needed -->
    </thead>
    <tbody>

        <tr>

            <td></td>
            <td>Part-A</td>
            <td>Part-B</td>
            <td></td>
            <td></td>
            <td></td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>


    </tbody>
</table>