<div class="">
    <app-heading title="Payment Ledger Summary"></app-heading>

    <div class="studentCardSection">
        <div class="studentCard">
            <div class="studentCardTop">
                <h1>৳00</h1>
                <p>Total Payable</p>
            </div>
            <img src="https://cdn-icons-png.flaticon.com/512/4827/4827568.png" alt="">
        </div>
        <div class="studentCard">
            <div class="studentCardTop">
                <h1>৳00</h1>
                <p>Total Paid</p>
            </div>
            <img src="https://cdn-icons-png.flaticon.com/512/4827/4827568.png" alt="">
        </div>
        <div class="studentCard">
            <div class="studentCardTop">
                <h1>৳00</h1>
                <p>Total Due</p>
            </div>
            <img src="https://cdn-icons-png.flaticon.com/512/4827/4827568.png" alt="">
        </div>
        <div class="studentCard">
            <div class="studentCardTop">
                <h1>৳00</h1>
                <p>Total Others</p>
            </div>
            <img src="https://cdn-icons-png.flaticon.com/512/4827/4827568.png" alt="">
        </div>
    </div>

    <div class="ledger_table_section">
        <h1>Student Ledger</h1>
        <div class="inputSec">
            <select name="" id="">
                <option value="">Select Semester</option>
            </select>
        </div>
        <br>

        <table class="rwd-table">
            <tbody>
                <tr>
                    <th>Transaction Date</th>
                    <th>Head Description</th>
                    <th>Payable</th>
                    <th>Waiver</th>
                </tr>
                <tr>
                    <td data-th="Supplier Code">
                        Dec 4, 2023
                    </td>
                    <td data-th="Supplier Name">
                        Admission fee/ Re-admission fee (Admission)
                    </td>
                    <td data-th="Invoice Number">
                        656
                    </td>
                    <td data-th="Invoice Date">
                        0
                    </td>

                </tr>
                <tr>
                    <td data-th="Supplier Code">
                        Dec 4, 2023
                    </td>
                    <td data-th="Supplier Name">
                        Admission fee/ Re-admission fee (Admission)
                    </td>
                    <td data-th="Invoice Number">
                        656
                    </td>
                    <td data-th="Invoice Date">
                        0
                    </td>

                </tr>


            </tbody>
        </table>
    </div>
</div>