<!-- <app-breadcrumb></app-breadcrumb>
<app-students></app-students>
<app-pdf></app-pdf> -->
<!-- <app-hambarger [menuParent]="test" [menuData]=navigationData></app-hambarger> -->

<!-- <app-student-dash></app-student-dash> -->
<!-- <app-pdf></app-pdf> -->

<!-- <app-pdf></app-pdf> -->


<!-- <div class="student-container">
    <router-outlet></router-outlet>
</div> -->


<!-- <app-dynamic-form>
</app-dynamic-form> -->

<!-- <app-students></app-students> -->

<!-- <app-about></app-about> -->

<!-- <app-stepper-form></app-stepper-form> -->


<!-- <app-butex-tabulation-pdf></app-butex-tabulation-pdf> -->




<app-pdf></app-pdf>
<!-- <app-butex-applicant></app-butex-applicant> -->




<!-- <app-butex-teacher-profile></app-butex-teacher-profile> -->