<div class="studentDashbord">
    <div class="dashboardTop">
        <h1>Basic Information</h1>
        <hr>
    </div>
    <!-- Top Cards -->
    <div class="flex gap-1">
        <div class="studentCard">
            <div class="studentCardTop">
                <h1>৳00</h1>
                <p>Total Paid</p>
            </div>
            <img src="https://cdn-icons-png.flaticon.com/512/4827/4827568.png" alt="">
        </div>
        <div class="studentCard">
            <div class="studentCardTop">
                <h1>৳00</h1>
                <p>Total Due</p>
            </div>
            <img src="https://cdn-icons-png.flaticon.com/512/4827/4827568.png" alt="">
        </div>
        <div class="studentCard">
            <div class="studentCardTop">
                <h1>৳00</h1>
                <p>Last Semester GPA</p>
            </div>
            <img src="https://cdn-icons-png.flaticon.com/512/4827/4827568.png" alt="">
        </div>
        <div class="studentCard">
            <div class="studentCardTop">
                <h1>৳00</h1>
                <p>Attendance Percentage </p>
            </div>
            <img src="https://cdn-icons-png.flaticon.com/512/4827/4827568.png" alt="">
        </div>
    </div>


    <!-- Profile and Quick links Section-->
    <div class="profileAndQuickLinksSection">
        <!-- Profile -->

        <div class="profile">
            <div class="profileTop">
                <img src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" alt="">
                <p>Edit Profile</p>
            </div>
            <!-- pic -->
            <div class="profileImg">
                <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png" alt="">
            </div>
            <!-- Details -->
            <div class="profileDetails">
                <h1>Asif Mahmud Akash</h1>
                <div class="">
                    <p> <strong>Student ID:</strong> 90-18-2252</p>
                    <p><strong>Email:</strong> 0Hc0H"&#64;"example.com</p>
                    <p> <strong>Phone:</strong> 01799999999</p>
                </div>
                <a style="color: #A84F00; text-decoration: underline;">View Profile</a>
            </div>
        </div>



        <!-- Quick Links -->

        <div class="quickLinksSection">
            <h1>Quick Links</h1>
            <div class="linksArea">
                <div class="quickLinks">
                    <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png" alt="">
                    <p>Course Registration</p>
                </div>
                <div class="quickLinks">
                    <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png" alt="">
                    <p>Total Due</p>
                </div>
                <div class="quickLinks">
                    <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png" alt="">
                    <p>Last Semester GPA</p>
                </div>
                <div class="quickLinks">
                    <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png" alt="">
                    <p>Attendance Percentage </p>
                </div>
                <div class="quickLinks">
                    <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png" alt="">
                    <p>Total Due</p>
                </div>
                <div class="quickLinks">
                    <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png" alt="">
                    <p>Last Semester GPA</p>
                </div>
                <div class="quickLinks">
                    <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png" alt="">
                    <p>Attendance Percentage </p>
                </div>
                <div class="quickLinks">
                    <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png" alt="">
                    <p>Attendance Percentage </p>
                </div>

            </div>


        </div>

    </div>


    <!-- My Courses and Schedule -->
    <div class="coursesAndSchedule">
        <!-- My Courses -->
        <div class="courses">
            <h1>My Courses</h1>
            <div class="">
                <div class="coursesDetails">
                    <p><strong>Course Code:</strong> ACC120</p>
                    <p><strong>Course Title:</strong> Accounting</p>
                    <p><strong>Course Credit:</strong> ৳00</p>
                    <hr>
                </div>
                <div class="coursesDetails">
                    <p><strong>Course Code:</strong> ACC120</p>
                    <p><strong>Course Title:</strong> Accounting</p>
                    <p><strong>Course Credit:</strong> ৳00</p>
                    <hr>
                </div>
                <div class="coursesDetails">
                    <p><strong>Course Code:</strong> ACC120</p>
                    <p><strong>Course Title:</strong> Accounting</p>
                    <p><strong>Course Credit:</strong> ৳00</p>
                    <hr>
                </div>
            </div>


        </div>
        <!-- Schedule -->
        <div class="schedule">
            <h1>Schedule</h1>
            <div class="scheduleDay">
                <h1>Today</h1>
            </div>
            <div class="scheduleDaySection">

                <div class="scheduleCard">
                    <p><strong>ACC120</strong></p>
                    <p>Introduction to cost Accounting</p>
                    <p><strong>Time:</strong>12:00 PM - 02:00 PM</p>
                    <p><strong>Room:</strong>AB-4</p>
                    <p><strong>Lecturer:</strong>Shawon Islam</p>
                </div>
                <div class="scheduleCard">
                    <p><strong>ACC120</strong></p>
                    <p>Introduction to cost Accounting</p>
                    <p><strong>Time:</strong>12:00 PM - 02:00 PM</p>
                    <p><strong>Room:</strong>AB-4</p>
                    <p><strong>Lecturer:</strong>Shawon Islam</p>
                </div>
                <div class="scheduleCard">
                    <p><strong>ACC120</strong></p>
                    <p>Introduction to cost Accounting</p>
                    <p><strong>Time:</strong>12:00 PM - 02:00 PM</p>
                    <p><strong>Room:</strong>AB-4</p>
                    <p><strong>Lecturer:</strong>Shawon Islam</p>
                </div>
                <div class="scheduleCard">
                    <p><strong>ACC120</strong></p>
                    <p>Introduction to cost Accounting</p>
                    <p><strong>Time:</strong>12:00 PM - 02:00 PM</p>
                    <p><strong>Room:</strong>AB-4</p>
                    <p><strong>Lecturer:</strong>Shawon Islam</p>
                </div>
                <div class="scheduleCard">
                    <p><strong>ACC120</strong></p>
                    <p>Introduction to cost Accounting</p>
                    <p><strong>Time:</strong>12:00 PM - 02:00 PM</p>
                    <p><strong>Room:</strong>AB-4</p>
                    <p><strong>Lecturer:</strong>Shawon Islam</p>
                </div>

            </div>
        </div>
    </div>
</div>