<div class="" style="margin: 5em;">
    <table border="1">
        <thead>
            <tr>
                <th colspan="6">Physics - I</th>
                <!-- Theory -->
                <th colspan="6">Physics - I</th>
            </tr>

            <!-- theory -->
            <tr>
                <th colspan="6">PHY 101-0533</th>
                <!-- Theory -->
                <th colspan="6">PHY 101-0533</th>
                <!-- <th colspan="6">PHY 101-0533</th> -->

            </tr>
            <tr>
                <th colspan="6">Theory</th>
                <!-- Theory -->
                <th colspan="6">Theory</th>
                <!-- <th colspan="6">Lab</th> -->
            </tr>
            <tr>
                <th colspan="6">3 Credits</th>
                <!-- Theory -->
                <th colspan="6">3 Credits</th>
                <!-- <th colspan="6">1 Credits</th> -->
            </tr>
            <tr>

                <th>Continuous Assess. (40%)</th>
                <th colspan="2">Final Examination (60%)</th>
                <th rowspan="2">Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3">Grade Point</th>
                <!-- Theory -->
                <th>Continuous Assess. (40%)</th>
                <th colspan="2">Final Examination (60%)</th>
                <th rowspan="2">Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3">Grade Point</th>

                <!-- <th>Continuous Assess. (60%)</th>
                <th>Term Final (40%)</th>
                <th>Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3" colspan="2">Grade Point</th> -->
            </tr>
            <tr>
                <th rowspan="2">60</th>
                <th colspan="2">90</th>
                <!-- Theory -->
                <th rowspan="2">60</th>
                <th colspan="2">90</th>

                <!-- <th rowspan="2">lab</th>
                <th rowspan="2">lab</th>
                <th rowspan="2">lab</th> -->
            </tr>
            <tr>

                <th>Part-A</th>
                <th>Part-B</th>
                <th>150</th>
                <!-- Theory -->
                <th>Part-A</th>
                <th>Part-B</th>
                <th>150</th>



            </tr>
        </thead>

    </table>
</div>







<div class="" style="margin: 5em;">
    <table border="1">
        <thead>
            <tr>
                <th rowspan="7">SL. No</th>
                <th rowspan="7">Student ID</th>
                <th rowspan="7">Name of the students</th>
                <th rowspan="7">Year of 1st Admission Program</th>
                <th rowspan="7">Appeared Courses</th>




                <th colspan="12">Physics - I</th>
                <th colspan="12">Physics - II</th>

                <th colspan="6">Physics - II</th>


            </tr>

            <!-- theory -->
            <tr>
                <th colspan="6">PHY 101-0533</th>
                <th colspan="6">PHY 101-0533</th>

                <th colspan="6">PHY 101-0533</th>
                <th colspan="6">PHY 101-0533</th>


                <th colspan="6">PHY 101-0533</th>



            </tr>
            <tr>
                <th colspan="6">Theory</th>
                <th colspan="6">Lab</th>

                <th colspan="6">Theory</th>
                <th colspan="6">Lab</th>

                <th colspan="6">Theory</th>



            </tr>
            <tr>
                <th colspan="6">3 Credits</th>
                <th colspan="6">1 Credits</th>

                <th colspan="6">3 Credits</th>
                <th colspan="6">1 Credits</th>

                <th colspan="6">1 Credits</th>



            </tr>
            <tr>
                <th>Continuous Assess. (40%)</th>
                <th colspan="2">Final Examination (60%)</th>
                <th rowspan="2">Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3">Grade Point</th>

                <th>Continuous Assess. (60%)</th>
                <th>Term Final (40%)</th>
                <th>Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3" colspan="2">Grade Point</th>



                <th>Continuous Assess. (40%)</th>
                <th colspan="2">Final Examination (60%)</th>
                <th rowspan="2">Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3">Grade Point</th>

                <th>Continuous Assess. (60%)</th>
                <th>Term Final (40%)</th>
                <th>Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3" colspan="2">Grade Point</th>


                <th>Continuous Assess. (40%)</th>
                <th colspan="2">Final Examination (60%)</th>
                <th rowspan="2">Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3">Grade Point</th>



            </tr>
            <tr>
                <th rowspan="2">60</th>
                <th colspan="2">90</th>

                <th rowspan="2">60</th>
                <th rowspan="2">40</th>
                <th rowspan="2">100</th>

                <th rowspan="2">60</th>
                <th colspan="2">90</th>

                <th rowspan="2">60</th>
                <th rowspan="2">40</th>
                <th rowspan="2">100</th>


                <th rowspan="2">60</th>
                <th colspan="2">90</th>
            </tr>
            <tr>
                <th>Part-A</th>
                <th>Part-B</th>
                <th>150</th>

                <th>Part-A</th>
                <th>Part-B</th>
                <th>150</th>

                <th>Part-A</th>
                <th>Part-B</th>
                <th>150</th>



            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>

            </tr>
        </tbody>


    </table>
</div>




<div class="" style="margin: 5em;">
    <table border="1">
        <thead>
            <tr>
                <ng-container *ngFor="let data of subjects;">
                    <th [attr.colspan]="data.partialSubjects.length === 2 ? 12 : 6">{{data.mainSubjectName}}</th>
                </ng-container>
            </tr>

            <tr>
                <ng-container *ngFor="let data of subjects;">
                    <ng-container *ngIf="data.partialSubjects.length === 2">
                        <th *ngFor="let partialSubjects of data.partialSubjects" colspan="6">
                            {{partialSubjects.subjectCode}}
                        </th>
                    </ng-container>

                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th colspan="6">
                            {{data.subjectCode}}
                        </th>
                    </ng-container>
                </ng-container>
            </tr>

            <tr>
                <ng-container *ngFor="let data of subjects;">
                    <ng-container *ngIf="data.partialSubjects.length === 2">
                        <th *ngFor="let partialSubjects of data.partialSubjects" colspan="6">
                            {{partialSubjects.finalSubjectTabulationSheetDTO.theory ? 'Theory' : 'Lab'}}</th>
                    </ng-container>

                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th colspan="6">
                            {{data.finalSubjectTabulationSheetDTO.theory ? 'Theory' : 'Lab'}}</th>
                    </ng-container>
                </ng-container>
            </tr>

            <tr>
                <ng-container *ngFor="let data of subjects;">
                    <ng-container *ngIf="data.partialSubjects.length === 2">
                        <th *ngFor="let partialSubjects of data.partialSubjects" colspan="6">
                            {{partialSubjects.finalSubjectTabulationSheetDTO.subjectCredit}}</th>
                    </ng-container>

                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th colspan="6">
                            {{data.finalSubjectTabulationSheetDTO.subjectCredit}}</th>
                    </ng-container>


                </ng-container>
            </tr>

            <tr>
                <ng-container *ngFor="let data of subjects;">

                    <ng-container *ngIf="data.partialSubjects.length === 2">

                        <th>Continuous Assess.(40%)</th>
                        <th colspan="2">Final Examination (60%)</th>
                        <th rowspan="2">Total (100%)</th>
                        <th rowspan="3">Letter Grade</th>
                        <th rowspan="3">Grade Point</th>

                        <th>Continuous Assess. (60%)</th>
                        <th>Term Final (40%)</th>
                        <th>Total (100%)</th>
                        <th rowspan="3">Letter Grade</th>
                        <th rowspan="3" colspan="2">Grade Point</th>
                    </ng-container>


                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th>Continuous Assess.(40%)</th>
                        <th colspan="2">Final Examination (60%)</th>
                        <th rowspan="2">Total (100%)</th>
                        <th rowspan="3">Letter Grade</th>
                        <th rowspan="3">Grade Point</th>
                    </ng-container>
                </ng-container>




            </tr>


            <tr>
                <ng-container *ngFor="let data of subjects;">

                    <ng-container *ngIf="data.partialSubjects.length === 2">
                        <th rowspan="2">60</th>
                        <th colspan="2">90</th>

                        <th rowspan="2">60</th>
                        <th rowspan="2">40</th>
                        <th rowspan="2">100</th>
                    </ng-container>

                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th rowspan="2">60</th>
                        <th colspan="2">90</th>

                    </ng-container>
                </ng-container>


            </tr>


            <tr>
                <ng-container *ngFor="let data of subjects;">

                    <ng-container
                        *ngIf="data.partialSubjects.length === 2 && data.partialSubjects[0].finalSubjectTabulationSheetDTO.theory">
                        <th>Part-A</th>
                        <th>Part-B</th>
                        <th>150</th>
                    </ng-container>

                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th>Part-A</th>
                        <th>Part-B</th>
                        <th>150</th>
                    </ng-container>

                </ng-container>

            </tr>

        </thead>

        <tbody>

        </tbody>


    </table>
</div>

<h1 style="text-align: center;">Tabulation Sheet</h1>
<div class="" style="margin: 5em;">
    <table border="1">
        <thead>
            <tr>
                <ng-container *ngFor="let data of students[0].accumulatedSubjects;">
                    <th [attr.colspan]="data.partialSubjects.length === 2 ? 12 : 6">{{data.mainSubjectName}}</th>
                </ng-container>
            </tr>

            <tr>
                <ng-container *ngFor="let data of students[0].accumulatedSubjects;;">
                    <ng-container *ngIf="data.partialSubjects.length === 2">
                        <th *ngFor="let partialSubjects of data.partialSubjects" colspan="6">
                            {{partialSubjects.subjectCode}}
                        </th>
                    </ng-container>

                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th colspan="6">
                            {{data.subjectCode}}
                        </th>
                    </ng-container>
                </ng-container>
            </tr>

            <tr>
                <ng-container *ngFor="let data of students[0].accumulatedSubjects;;">
                    <ng-container *ngIf="data.partialSubjects.length === 2">
                        <th *ngFor="let partialSubjects of data.partialSubjects" colspan="6">
                            {{partialSubjects.finalSubjectTabulationSheetDTO.theory ? 'Theory' : 'Lab'}}</th>
                    </ng-container>

                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th colspan="6">
                            {{data.finalSubjectTabulationSheetDTO.theory ? 'Theory' : 'Lab'}}</th>
                    </ng-container>
                </ng-container>
            </tr>

            <tr>
                <ng-container *ngFor="let data of students[0].accumulatedSubjects;;">
                    <ng-container *ngIf="data.partialSubjects.length === 2">
                        <th *ngFor="let partialSubjects of data.partialSubjects" colspan="6">
                            {{partialSubjects.finalSubjectTabulationSheetDTO.subjectCredit}}</th>
                    </ng-container>

                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th colspan="6">
                            {{data.finalSubjectTabulationSheetDTO.subjectCredit}}</th>
                    </ng-container>


                </ng-container>
            </tr>

            <tr>
                <ng-container *ngFor="let data of students[0].accumulatedSubjects;;">

                    <ng-container *ngIf="data.partialSubjects.length === 2">

                        <th>Continuous Assess.(40%)</th>
                        <th colspan="2">Final Examination (60%)</th>
                        <th rowspan="2">Total (100%)</th>
                        <th rowspan="3">Letter Grade</th>
                        <th rowspan="3">Grade Point</th>

                        <th>Continuous Assess. (60%)</th>
                        <th>Term Final (40%)</th>
                        <th>Total (100%)</th>
                        <th rowspan="3">Letter Grade</th>
                        <th rowspan="3" colspan="2">Grade Point</th>
                    </ng-container>


                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th>Continuous Assess.(40%)</th>
                        <th colspan="2">Final Examination (60%)</th>
                        <th rowspan="2">Total (100%)</th>
                        <th rowspan="3">Letter Grade</th>
                        <th rowspan="3">Grade Point</th>
                    </ng-container>
                </ng-container>




            </tr>


            <tr>
                <ng-container *ngFor="let data of students[0].accumulatedSubjects;;">

                    <ng-container *ngIf="data.partialSubjects.length === 2">
                        <th rowspan="2">60</th>
                        <th colspan="2">90</th>

                        <th rowspan="2">60</th>
                        <th rowspan="2">40</th>
                        <th rowspan="2">100</th>
                    </ng-container>

                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th rowspan="2">60</th>
                        <th colspan="2">90</th>

                    </ng-container>
                </ng-container>


            </tr>


            <tr>
                <ng-container *ngFor="let data of students[0].accumulatedSubjects;;">

                    <ng-container
                        *ngIf="data.partialSubjects.length === 2 && data.partialSubjects[0].finalSubjectTabulationSheetDTO.theory">
                        <th>Part-A</th>
                        <th>Part-B</th>
                        <th>150</th>
                    </ng-container>

                    <ng-container *ngIf="data.partialSubjects.length === 0">
                        <th>Part-A</th>
                        <th>Part-B</th>
                        <th>150</th>
                    </ng-container>

                </ng-container>

            </tr>

        </thead>

        <tbody>
            <!-- Iterate over each student -->
            <tr *ngFor="let student of students">
                <!-- Iterate over each subject of the current student -->
                <ng-container *ngFor="let subject of student.accumulatedSubjects">
                    <!-- If there are partial subjects, create <td> for each one -->
                    <ng-container *ngIf="subject.partialSubjects.length === 2">
                        <ng-container *ngFor="let partialSubject of subject.partialSubjects">
                            <ng-container *ngIf="partialSubject.finalSubjectTabulationSheetDTO.theory">
                                <td>{{partialSubject.finalSubjectTabulationSheetDTO.beforeFinalMarks}}</td>
                                <td>{{partialSubject.finalSubjectTabulationSheetDTO.partAMarks}}</td>
                                <td>{{partialSubject.finalSubjectTabulationSheetDTO.partBMarks}}</td>
                                <td>{{partialSubject.finalSubjectTabulationSheetDTO.totalMarks}}</td>
                                <td>{{partialSubject.finalSubjectTabulationSheetDTO.letterGrade}}</td>
                                <td>{{partialSubject.finalSubjectTabulationSheetDTO.gpa}}</td>
                            </ng-container>

                            <ng-container *ngIf="partialSubject.finalSubjectTabulationSheetDTO.lab">
                                <td>{{partialSubject.finalSubjectTabulationSheetDTO.beforeFinalMarks}}</td>
                                <td>{{partialSubject.finalSubjectTabulationSheetDTO.finalMarks}}</td>
                                <td>{{partialSubject.finalSubjectTabulationSheetDTO.totalMarks}}</td>
                                <td>{{partialSubject.finalSubjectTabulationSheetDTO.letterGrade}}</td>
                                <td colspan="2">{{partialSubject.finalSubjectTabulationSheetDTO.gpa}}</td>
                            </ng-container>

                            <!-- Add more <td> as needed based on headers -->
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="subject.partialSubjects.length === 0">
                        <td>{{subject.finalSubjectTabulationSheetDTO.beforeFinalMarks}}</td>
                        <td>{{subject.finalSubjectTabulationSheetDTO.partAMarks}}</td>
                        <td>{{subject.finalSubjectTabulationSheetDTO.partBMarks}}</td>
                        <td>{{subject.finalSubjectTabulationSheetDTO.totalMarks}}</td>
                        <td>{{subject.finalSubjectTabulationSheetDTO.letterGrade}}</td>
                        <td>{{subject.finalSubjectTabulationSheetDTO.gpa}}</td>
                    </ng-container>
                </ng-container>
            </tr>
        </tbody>





    </table>
</div>