<div class="" style="margin: 5em;">
    <table border="1">
        <thead>
            <tr>
                <th colspan="12">Physics - I</th>


            </tr>

            <!-- theory -->
            <tr>
                <th colspan="6">PHY 101-0533</th>
                <th colspan="6">PHY 101-0533</th>



            </tr>
            <tr>
                <th colspan="6">Theory</th>
                <th colspan="6">Lab</th>



            </tr>
            <tr>
                <th colspan="6">3 Credits</th>
                <th colspan="6">1 Credits</th>



            </tr>
            <tr>
                <th>Continuous Assess. (40%)</th>
                <th colspan="2">Final Examination (60%)</th>
                <th rowspan="2">Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3">Grade Point</th>

                <th rowspan="2">Continuous Assess. (60%)</th>
                <th rowspan="2">Term Final (40%)</th>
                <th rowspan="2">Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3" colspan="2">Grade Point</th>





            </tr>
            <tr>
                <th rowspan="2">60</th>
                <th colspan="2">90</th>
            </tr>
            <tr>
                <th>Part-A</th>
                <th>Part-B</th>
                <th>150</th>


                <th>60</th>
                <th>40</th>
                <th>100</th>

            </tr>
        </thead>


    </table>
</div>








<div class="" style="margin: 5em;">
    <table border="1">
        <thead>
            <tr>
                <th colspan="12">Physics - I</th>


                <th colspan="12">Physics - II</th>


            </tr>

            <!-- theory -->
            <tr>
                <th colspan="6">PHY 101-0533</th>
                <th colspan="6">PHY 101-0533</th>

                <th colspan="6">PHY 101-0533</th>
                <th colspan="6">PHY 101-0533</th>



            </tr>
            <tr>
                <th colspan="6">Theory</th>
                <th colspan="6">Lab</th>

                <th colspan="6">Theory</th>
                <th colspan="6">Lab</th>



            </tr>
            <tr>
                <th colspan="6">3 Credits</th>
                <th colspan="6">1 Credits</th>

                <th colspan="6">3 Credits</th>
                <th colspan="6">1 Credits</th>



            </tr>
            <tr>
                <th>Continuous Assess. (40%)</th>
                <th colspan="2">Final Examination (60%)</th>
                <th rowspan="2">Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3">Grade Point</th>

                <th>Continuous Assess. (60%)</th>
                <th>Term Final (40%)</th>
                <th>Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3" colspan="2">Grade Point</th>



                <th>Continuous Assess. (40%)</th>
                <th colspan="2">Final Examination (60%)</th>
                <th rowspan="2">Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3">Grade Point</th>

                <th>Continuous Assess. (60%)</th>
                <th>Term Final (40%)</th>
                <th>Total (100%)</th>
                <th rowspan="3">Letter Grade</th>
                <th rowspan="3" colspan="2">Grade Point</th>





            </tr>
            <tr>
                <th rowspan="2">60</th>
                <th colspan="2">90</th>

                <th rowspan="2">60</th>
                <th rowspan="2">40</th>
                <th rowspan="2">100</th>

                <th rowspan="2">60</th>
                <th colspan="2">90</th>

                <th rowspan="2">60</th>
                <th rowspan="2">40</th>
                <th rowspan="2">100</th>
            </tr>
            <tr>
                <th>Part-A</th>
                <th>Part-B</th>
                <th>150</th>

                <th>Part-A</th>
                <th>Part-B</th>
                <th>150</th>



            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>

            </tr>
        </tbody>


    </table>
</div>