<!-- <button (click)="generatePdf()">Generate PDF</button> -->



<div class="" style="background-color: aqua; padding: 2em;">
    <div class="room-section">

        <div class="room">
            <div class="room-head">
                <p>Room-001</p>
                <div class="">
                    <i class="bi bi-check-circle"></i>
                    <i class="bi bi-ban"></i>
                    <i class="bi bi-pencil-square"></i>
                </div>
            </div>

            <div class="room-body">
                <span>1</span>
                <span>1</span>
                <span>1</span>
                <span>1</span>
            </div>
        </div>
        <div class="room room-col-3">
            <div class="room-head">
                <p>Room-001</p>
                <div class="">
                    <i class="bi bi-check-circle"></i>
                    <i class="bi bi-ban"></i>
                    <i class="bi bi-pencil-square"></i>
                </div>
            </div>

            <div class="room-body room-body--active">
                <span>1</span>
                <span>1</span>
                <span>1</span>
                <span>1</span>
                <span>1</span>
                <span>1</span>
            </div>
        </div>
    </div>

</div>