<div class="" style="display: flex; gap: 1em;">
    <div class="profileSidebar">
        <div class="profilePicSection">
            <h1>Asif Mahmud Akash</h1>

            <div class="profilePic">
                <img src="https://marketplace.canva.com/EAF0Hq4UHjM/1/0/1600w/canva-orange-phoenix-animal-gaming-logo-WIPEOAyYPIs.jpg"
                    alt="">
            </div>
        </div>

        <div class="profileLinks">
            <ul>
                <li class="active"> <a href="">Personal Details</a></li>
                <li> <a href="">Professional Information</a></li>
                <li> <a href="">Research and Publications</a></li>
                <li> <a href="">Teaching and Mentoring</a></li>
                <li> <a href="">Awards and Recognitions</a></li>
                <li> <a href="">Professional Affiliations</a></li>
                <li> <a href="">Skills and Competencies</a></li>
                <li> <a href="">Attendance & Workload</a></li>
                <li> <a href="">Portfolio </a></li>
                <li> <a href="">Additional Information</a></li>
            </ul>
        </div>

    </div>


    <div class="profileContent">
        dfd
    </div>
</div>