<div class="menu_container">

    <!-- Left side manus and quick menu action -->

    <div class="left_side_section">
        <div class="">
            <div class="icon">
                <i class="bi bi-grid-3x3-gap"></i>
            </div>
        </div>

        <div class="nav_menu">
            <ul>
                <li *ngFor="let item of menuData.slice(0,5)">
                    <a *ngIf="item.linkParent == menuParent" class="active" href="#">{{item.label}}</a>
                </li>
            </ul>

            <!-- <div class="dropdown">
            <a href="#" class="">Home</a>

            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Home</a>
                <a href="#" class="dropdown-item">About</a>
                <a href="#" class="dropdown-item">Services</a>
                <a href="#" class="dropdown-item">Contact</a>
            </div>
        </div> -->
        </div>
    </div>

    <!-- Hamburger -->
    <div class="hamburger_menu" *ngIf="menuData.length > 5">
        <i class="bi bi-list"></i>
        <div class="hamburger_menu_items">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li class="dropdown">
                    <a href="">Dropdown</a>
                    <ul>
                        <li>
                            <a href="">1</a>
                        </li>
                        <li>
                            <a href="">2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>